h1{font-family: Chalkduster;color: white;text-align: center; font-size: 30pt; font:bold;}
body{background-color: #f4d424}
p{font-family: Chalkduster;color: white;text-align: center; font-size: 20pt;}
h2{font-family: Chalkduster;color: black;text-align: center; font-size: 25pt; font:bold;}

