h1{font-family: Luminari;color: black;text-align: center; font-size: 30pt; font:bold;}
body{background-color: #f20c2d}
h2{font-family: Luminari;color: black;text-align: center; font-size: 30pt; font:bold;}